@reference "../../styles/index.css";

.element-sidebar {
  & {
    @apply bg-inherit cursor-pointer;
  }

  a {
    @apply inline-block w-full;
  }

  a.active {
    @apply underline underline-offset-4;
  }

  li:hover,
  li:has(a.active) {
    @apply text-white bg-black;
  }

  li,
  menu {
    @apply relative bg-inherit cursor-pointer;
  }

  li {
    @apply px-1 py-2;
  }

  li > menu {
    @apply absolute pointer-events-none;
    @apply top-0 left-full w-full bg-inherit;
    @apply transition-opacity duration-300 delay-100 opacity-0;
  }

  li:hover > menu {
    @apply pointer-events-auto opacity-100;
  }
}
