.element-sidebar {
  & {
    @apply cursor-pointer;
  }

  button[data-active='true'] {
    @apply text-(--color-accent);
  }

  li:has(li > button[data-active='true']) > button,
  li:has(li > button[data-active='true']) > .icon {
    @apply text-(--color-accent);
  }

  li {
    @apply text-center whitespace-nowrap;
    @apply relative cursor-pointer;
  }

  li + li {
    @apply mt-10;
  }

  li:not([data-level='0']) > button {
    @apply w-full;
  }

  li > menu {
    @apply absolute pointer-events-none;
    @apply top-0 left-full px-2;
    @apply transition-opacity duration-300 delay-100 opacity-0;
  }

  li:focus-within > menu,
  li:hover > menu {
    @apply pointer-events-auto opacity-100;
  }
}
