.element-sidebar {
  & {
    @apply cursor-pointer;
  }

  a {
    @apply block no-underline text-(--color-btn-text) select-none;
  }

  a.active {
    @apply text-(--color-accent);
  }

  & > li:has(a.active) .icon {
    @apply text-(--color-accent);
  }

  li {
    @apply text-center whitespace-nowrap;
    @apply relative cursor-pointer;
  }

  li + li {
    @apply mt-3;
  }

  li:not([data-level='0']) > button {
    @apply w-full;
  }

  li > menu {
    @apply absolute pointer-events-none;
    @apply top-0 left-full px-2;
    @apply transition-opacity duration-300 delay-100 opacity-0;
  }

  li:focus-within > menu,
  li:hover > menu {
    @apply pointer-events-auto opacity-100;
  }
}
